<h1> About this site </h1>

<p>This is the first site I have created with Ruby on Rails. It allows you to create, edit, save, and delete articles. This was created from the ground up using Visual Studio Code, Ruby, and Rails. </p>
<%= link_to 'Home', root_path %> |
<%= link_to 'Articles listing', articles_path %>